body {
    background-color: rgb(226, 224, 224);
}

.name {
    color: rgb(56, 46, 150);
}

.information {
    padding: 20px;
}

#login {
    width: 40%;
    height: 40%;
    margin: 10px auto;
    min-height: 400px;
    background-color: rgb(56, 46, 150);
    padding: 10px;
    color: rgb(226, 224, 224);
    float: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    float: right;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-button {
    width: 40%;
    height: 100%;
    margin: 2px 0;
    cursor: pointer;
    color: rgb(226, 224, 224);
    background-color: rgb(56, 46, 150);
    border: 3px solid rgb(226, 224, 224);
}

#login-button:hover {
    color: rgb(56, 46, 150);
    background-color: rgb(226, 224, 224);
}

#forgot-password {
    font-size: 20px;
    color: rgb(226, 224, 224);
    display: block;
    float: right;
    clear: both;
}

label {
    font-size: 17px;
    cursor: pointer;
}

input[type="checkbox"] {
    visibility: hidden;
    margin: unset;
}

input[type="checkbox"]+label:before {
    border: 2px solid rgb(226, 224, 224);
    content: "\00a0";
    display: inline-flex;
    font: 16px/1em sans-serif;
    height: 15px;
    width: 15px;
    padding: 0;
    vertical-align: top;
}

input[type="checkbox"]:checked+label:before {
    background: rgb(56, 46, 150);
    color: rgb(226, 224, 224);
    content: "\2713";
    text-align: center;
}

input[type="checkbox"]:checked+label:after {
    font-weight: bold;
}

input[type="checkbox"]:focus+label::before {
    outline: rgb(56, 46, 150) auto 8px;
}